.map-content {
    width: 100%;
    height: 100%;
}

.search-block {
    padding: 0 10px;
}

.search-label {
    border: none;
    width: 100%;
    background-color: white;
}

.search-input {
    position: absolute;
    left: 0;
    right: 0;
}