// message default settings 
$message-height:            40px !default;
$message-font-size:         1rem !default;
$message-background-color:  #f57878 !default;
$message-padding:           0 10px !default;
$message-border-radius:     5px !default;