<ion-content>
    <div class="content has-header">
        <div class="list card">
            <div class="item item-icon-left">
                <i class="icon ion-person"></i>
                {{userAttr.name}}
            </div>

            <div class="item item-icon-left">
                <i class="icon ion-iphone"></i>
                {{userAttr.username}}
            </div>

            <div class="item item-icon-left">
                <i class="icon ion-home"></i>
                {{userAttr.address}}
            </div>
        </div>

        <div class="padding">
            <a href="#/personalization-setting" class="button button-block button-positive">
                设置
            </a>
        </div>

        <div class="padding">
            <button type="button" ng-click="logoutSubmit()" class="button button-block button-dark">
                登出
            </button>
        </div>
    </div>
</ion-content>
