<ion-content>
    <div class="content has-header">
        <div class="list card">
            <div class="item item-icon-left">
                <i class="icon ion-person"></i>
                名字
            </div>

            <div class="item item-icon-left">
                <i class="icon ion-iphone"></i>
                电话
            </div>

            <div class="item item-icon-left">
                <i class="icon ion-home"></i>
                地址
            </div>
        </div>

        <div class="padding">
            <a href="#/personalization-setting" class="button button-block button-positive">
                Block Button
            </a>
        </div>
    </div>
</ion-content>
