<ion-content class="content has-header">
    <div class="content has-header padding">
        <form ng-submit="loginFormSubmit(user)" name="loginForm">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">手机号</span>
                    <input type="text" ng-model="user.phoneNumber" name="phoneNumber" required integer>
                </label>
                <label class="item item-input">
                    <span class="input-label">密码</span>
                    <input type="password" ng-model="user.password" name="password">
                </label>
            </div>
            <div validation-message validation-form="loginForm" validation-field="loginForm.phoneNumber" errors="loginForm.phoneNumber.$error"></div>

            <div class="padding">
                <button type="submit" class="button button-block button-dark">提交</button>
            </div>
        </form>

        <div class="padding">
            <a href="#/register" class="button button-block button-positive">注册</a>
        </div>
    </div>
</ion-content>