<ion-pane>
    <!-- <ion-list>
            <ion-item ng-repeat="product in products" class="item-thumbnail-center">
                <a ng-click="goToProductDetailPage(product)">
                    <img src="test.png" />

                    <h2>{{product.ProductName}}</h2>
                    <p>this is the description</p>
                </a>

            </ion-item>
        </ion-list> -->
    <form ng-submit="mapSearchSubmit()" name="mapSearchForm">
        <div class="list list-inset search-input">
            <div class="item item-input-inset search-block">
                <button type="button" class="button button-icon icon ion-navicon placeholder-icon" ng-click="openSideMenu()"></button>
                <label class="item-input-wrapper search-label">
                    <input type="text" placeholder="Email" ng-model="mapSearch" name="mapSearch">
                </label>
            </div>
        </div>
    </form>
    <div id="container" class="map-content"></div>
</ion-pane>
